body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #1d0938;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    height: 50px;
    background: pink;
    border-radius: 50%;

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.card {
    background-color: #9e70db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
    margin-top: 30px;
}

.card input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 15px;
    background: #4d2b72;
    color: white;
    box-sizing: border-box;
}

.card label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.card button {
    color: #41233e;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;

    background: linear-gradient(
        90deg,
        #d9b3ff,
        #ffb3c7
    );
}

.card button:hover {
    background: #e07bca;
}

@media (max-width: 480px) {
    .card {
        width: 80%;
    }
}

.cadastro-link {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 16px;

}

.cadastro-link a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.cadastro-link a:hover{
    text-decoration: underline;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 100vh;

}

.cadastro {
    background-color: #9e70db;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    box-sizing: border-box;
}

.cadastro input {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 15px;
    background: #4d2b72;
    color: white;
    outline: none;
    box-sizing: border-box;
}

.cadastro label {
    display: block;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.cadastro form {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.campo input {
    width: 100%;
    box-sizing: border-box;
}

.cadastro button {
    color: #41233e;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;

    background: linear-gradient(
        90deg,
        #d9b3ff,
        #ffb3c7
    );
}

.cadastro button:hover {
    background: #e07bca;
}

.titulo-cadastro {
    color: rgb(228, 188, 224);
    font-size: 40px;
}


.opcoes {
    display: flex;
    gap: 10px;
    width: 100%;
}

.opcao {
    flex: 1;
    margin: 0;
}

.opcao input {
    display: none;
}

.opcao span {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;

    background: #4d2b72;
    color: #cbb8d9;

    border-radius: 20px;
    cursor: pointer;

    user-select: none;
}


.opcao input:checked + span {
    background: linear-gradient(
        90deg,
        #d9b3ff,
        #ffb3c7
    );

    color: #41233e;
}


.login-link {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 16px;

}

.login-link a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover{
    text-decoration: underline;
}


/*HOME */

.home {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    color: white;
}

/* Título da página */
.home h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

/* Card da gestação */
.gestacao {
    background-color: #2d1747;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.gestacao p {
    color: #cbb8d9;
    margin: 8px 0;
}

.gestacao h2 {
    color: white;
    font-size: 32px;
    margin: 10px 0;
}

/* Botão Registrar sintomas */
.gestacao button {
    color: #41233e;
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;

    background: linear-gradient(
        90deg,
        #d9b3ff,
        #ffb3c7
    );
}

.gestacao button:hover {
    background: #e07bca;
}

/* Título da seção */
.home > h2 {
    margin-top: 30px;
    color: white;
}

/* Cards de conteúdo */
.conteudos {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.conteudo {
    width: 140px;
    height: 100px;

    border-radius: 20px;

    background-color: #9e70db;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    color: #41233e;

    transition: 0.3s;
}

.conteudo:hover {
    transform: translateY(-5px);
    background-color: #e07bca;
    cursor: pointer;
}

/* Celular */
@media (max-width: 480px) {

    .home {
        width: 90%;
    }

    .gestacao {
        padding: 20px;
    }

    .gestacao h2 {
        font-size: 28px;
    }

    .conteudo {
        width: 100%;
    }
}

/* Calendário */

.calendario {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    color: #222;
}
.topo-calendario {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 10px;
}
.dia.hoje {
    width: 65px;
    height: 65px;

    margin: auto;

    border-radius: 50%;

    background: white;

    color: #9e70db;

    font-weight: bold;
}
.dia.hoje small {
    font-size: 12px;
    color: #41233e;
    margin-bottom: 5px;
}